<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.htpe.mapper.nnew.CsrAccountMapper">
	<resultMap type="CsrAccount" id="account_auth">
            <id column="ACID" property="id" />
            <result column="USERNO" property="userno" />
            <result column="USERCNAME" property="usercname" />
            <result column="DEPNO" property="depno" />
            <result column="USERPWD" property="userpwd" />
            <result column="SYSTEMPRIVILEGE" property="systemprivilege" />
            <result column="CREATETIME" property="createtime" />
            <result column="ISCANCEL" property="iscancel" />
            <collection property="csrAccountAuths" ofType="CsrAccountAuth">
                <id column="AID" property="id" />
                <association property="csrAuth" javaType="CsrAuth">
                    <id column="AUID" property="id"/>
                    <result column="AUTHNO" property="authno"/>
                    <result column="AUTHNAME" property="authname"/>
                    <result column="AUTHURL" property="authurl"/>
                    <result column="TYPE" property="type"/>
                </association>               
            </collection>
     </resultMap>
 
	<select id="getAccountByUserno" parameterType="String" resultMap="account_auth">			
		select AC.id ACID,userno,usercname,depno,userpwd,systemprivilege,
		createtime,iscancel,A.id AID,AU.id AUID,authno,authname,authurl,type from CSR_ACCOUNT as AC 
		left join 
		CSR_ACCOUNT_AUTH as A on AC.id=A.ACCOUNTID
		left join
		CSR_AUTH as AU on A.authid=AU.id			
		where AC.USERNO=#{0}
	</select>
	
	<select id="getAccountById" parameterType="Integer" resultMap="account_auth">
  		select AC.id ACID,userno,usercname,depno,userpwd,systemprivilege,
		createtime,iscancel,A.id AID,AU.id AUID,authno,authname,authurl,type from CSR_ACCOUNT as AC 
		left join 
		CSR_ACCOUNT_AUTH as A on AC.id=A.ACCOUNTID
		left join
		CSR_AUTH as AU on A.authid=AU.id			
		where AC.id=#{0}
	</select>
	
  <insert id="insertAccount" parameterType="CsrAccount" useGeneratedKeys="true" keyProperty="id" >
    insert into CSR_ACCOUNT (USERNO, USERCNAME, DEPNO, USERPWD, 
    	SYSTEMPRIVILEGE, CREATETIME, ISCANCEL)
    values (#{userno}, #{usercname}, #{depno}, #{userpwd}, 
    	#{systemprivilege}, #{createtime}, #{iscancel})
  </insert>
	
	<update id="updateAccount" parameterType="CsrAccount">
    update CSR_ACCOUNT
    set USERNO = #{userno},
      USERCNAME = #{usercname},
      DEPNO = #{depno},
      USERPWD = #{userpwd},
      SYSTEMPRIVILEGE = #{systemprivilege},
      CREATETIME = #{createtime},
      ISCANCEL = #{iscancel}
    where ID = #{id}
  </update>
	

 
 <!-- 分頁查詢 -->
	<resultMap type="CsrAccount" id="account_pagehelper">
            <id column="ACID" property="id" />
            <result column="USERNO" property="userno" />
            <result column="USERCNAME" property="usercname" />
            <result column="DEPNO" property="depno" />
            <result column="USERPWD" property="userpwd" />
            <result column="SYSTEMPRIVILEGE" property="systemprivilege" />
            <result column="CREATETIME" property="createtime" />
            <result column="ISCANCEL" property="iscancel" />
            <collection property="csrAccountAuths" ofType="CsrAccountAuth" select="listAccountAuth" column="ACID"> 
              	 
            </collection>
     </resultMap>
        
     <resultMap id="account_auth_pagehelper" type="CsrAccountAuth">     
     	 <id column="AUID" property="id" />
         <association property="csrAuth" javaType="CsrAuth">
             <id column="AUID" property="id"/>
             <result column="AUTHNO" property="authno"/>
             <result column="AUTHNAME" property="authname"/>
             <result column="AUTHURL" property="authurl"/>
             <result column="TYPE" property="type"/>
         </association>               
     </resultMap>

     <select id="listAccount" parameterType="Map" resultMap="account_pagehelper">
     		select AC.id ACID,userno,usercname,depno,userpwd,systemprivilege,
			createtime,iscancel from CSR_ACCOUNT as AC 
			<where>
			<if test="searchName!=null">
				AND (USERNO like '%'||(#{searchName})||'%'
					OR USERCNAME like '%'||#{searchName}||'%')
			</if>
			<if test="empNO!=null">
				AND DEPNO like '%'||#{empNO}||'%'
			</if>
			</where>
			order by USERNO
	 </select>
	 
	 <select id="listAccountAuth"  resultMap="account_auth_pagehelper">
     	select  A.id AID, AU.id AUID,authno,authname,authurl,type from CSR_ACCOUNT_AUTH as A 
		left join
		CSR_AUTH as AU on A.authid=AU.id	
		where A.accountid = #{ACID}
	 </select>
  
</mapper>