<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.htpe.mapper.nnew.CsrRoomMapper">
	<resultMap type="CsrRoom" id="room_depno">
            <id column="xid" property="id" />
            <result column="xdepno" property="depno" />
            <result column="XNO" property="roomno" />
            <result column="xname" property="roomname" />
            <association property="csrDepno" javaType="CsrDepno">
                <id column="aid" property="id" />
                <result column="ano" property="depno" />
             	<result column="aname" property="depname" />
            </association>
     </resultMap>

     <select id="listRoom" parameterType="Map" resultMap="room_depno">
     		select X.id xid,X.DEPNO xdepno, X.ROOMNO xno, X.ROOMNAME xname,a.ID aid,a.DEPNO ano, a.DEPNAME aname from CSR_ROOM as X
			left join CSR_DEPNO as A on  X.DEPNO = A.DEPNO 
			<where>
			<if test="searchName!=null">
				AND (X.ROOMNO like '%'||(#{searchName})||'%')
			</if>
			</where>
			order by X.id
	 </select>
	 
	      <select id="getRoomById" parameterType="Integer" resultMap="room_depno">
     		select X.id xid,X.DEPNO xdepno, X.ROOMNO xno, X.ROOMNAME xname,a.ID aid,a.DEPNO ano, a.DEPNAME aname from CSR_ROOM as X
			left join CSR_DEPNO as A on  X.DEPNO = A.DEPNO 
			where X.id =#{id}
	 </select>


  <insert id="insertRoom" parameterType="CsrRoom">
    insert into CSR_ROOM
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="depno != null">
        DEPNO,
      </if>
      <if test="roomno != null">
        ROOMNO,
      </if>
      <if test="roomname != null">
        ROOMNAME,
      </if>
      <if test="bedno != null">
        BEDNO,
      </if>
      <if test="isdelete != null">
        ISDELETE,
      </if>
      <if test="datauserno != null">
        DATAUSERNO,
      </if>
      <if test="datausername != null">
        DATAUSERNAME,
      </if>
      <if test="datadate != null">
        DATADATE,
      </if>
      <if test="sn != null">
        SN,
      </if>
      <if test="isallocate != null">
        ISALLOCATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="depno != null">
        #{depno,jdbcType=CHAR},
      </if>
      <if test="roomno != null">
        #{roomno,jdbcType=CHAR},
      </if>
      <if test="roomname != null">
        #{roomname,jdbcType=CHAR},
      </if>
      <if test="bedno != null">
        #{bedno,jdbcType=CHAR},
      </if>
      <if test="isdelete != null">
        #{isdelete,jdbcType=CHAR},
      </if>
      <if test="datauserno != null">
        #{datauserno,jdbcType=CHAR},
      </if>
      <if test="datausername != null">
        #{datausername,jdbcType=CHAR},
      </if>
      <if test="datadate != null">
        #{datadate,jdbcType=TIMESTAMP},
      </if>
      <if test="sn != null">
        #{sn,jdbcType=INTEGER},
      </if>
      <if test="isallocate != null">
        #{isallocate,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateRoom" parameterType="com.htpe.bean.CsrRoom">
    update CSR_ROOM
    <set>
      <if test="depno != null">
        DEPNO = #{depno,jdbcType=CHAR},
      </if>
      <if test="roomno != null">
        ROOMNO = #{roomno,jdbcType=CHAR},
      </if>
      <if test="roomname != null">
        ROOMNAME = #{roomname,jdbcType=CHAR},
      </if>
      <if test="bedno != null">
        BEDNO = #{bedno,jdbcType=CHAR},
      </if>
      <if test="isdelete != null">
        ISDELETE = #{isdelete,jdbcType=CHAR},
      </if>
      <if test="datauserno != null">
        DATAUSERNO = #{datauserno,jdbcType=CHAR},
      </if>
      <if test="datausername != null">
        DATAUSERNAME = #{datausername,jdbcType=CHAR},
      </if>
      <if test="datadate != null">
        DATADATE = #{datadate,jdbcType=TIMESTAMP},
      </if>
      <if test="sn != null">
        SN = #{sn,jdbcType=INTEGER},
      </if>
      <if test="isallocate != null">
        ISALLOCATE = #{isallocate,jdbcType=CHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>