<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.htpe.mapper.nnew.CsrSurgicalMapper">
  <resultMap id="surgical_casecar" type="CsrSurgical">
    <id column="xid" property="id" />
    <result column="xno"  property="surgicalno" />
    <result column="xcname" property="surgicalnamech"/>   
    <collection property="csrSurgicalCasecar" ofType="CsrSurgicalCasecar">
        <id column="aid" property="id" />
        <result column="ano" property="casecarno"/>            
    </collection>   
  </resultMap>
  
        <select id="listSurgical" parameterType="Map" resultType="CsrSurgical">
			select ID,SURGICALNO,SURGICALNAME,SURGICALNAMECH from CSR_SURGICAL
			<where>
			<if test="searchName!=null">
				AND (SURGICALNO like '%'||(#{searchName})||'%')
				OR (SURGICALNAMECH like '%'||(#{searchName})||'%')
			</if>
		</where>
		order by SURGICALNO
  	</select>
  
     <select id="getSurgicalById" parameterType="Integer" resultMap="surgical_casecar">
  		select X.ID xid, X.SURGICALNO xno, X.SURGICALNAMECH xcname, A.ID aid, A.CASECARNO ano
		from CSR_SURGICAL AS X 
		left join CSR_SURGICAL_CASECAR as A on X.SURGICALNO=A.SURGICALNO
		where X.ID=#{id}
  	</select>
  
    <insert id="insertSurgical" parameterType="CsrSurgical">
    insert into CSR_SURGICAL
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="surgicalno != null">
        SURGICALNO,
      </if>
      <if test="surgicalname != null">
        SURGICALNAME,
      </if>
      <if test="surgicalnamech != null">
        SURGICALNAMECH,
      </if>
      <if test="isdelete != null">
        ISDELETE,
      </if>
      <if test="datauserno != null">
        DATAUSERNO,
      </if>
      <if test="datausername != null">
        DATAUSERNAME,
      </if>
      <if test="datadate != null">
        DATADATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="surgicalno != null">
        #{surgicalno},
      </if>
      <if test="surgicalname != null">
        #{surgicalname},
      </if>
      <if test="surgicalnamech != null">
        #{surgicalnamech},
      </if>
      <if test="isdelete != null">
        #{isdelete},
      </if>
      <if test="datauserno != null">
        #{datauserno},
      </if>
      <if test="datausername != null">
        #{datausername},
      </if>
      <if test="datadate != null">
        #{datadate},
      </if>
    </trim>
  </insert>
   <update id="updateSurgical" parameterType="CsrSurgical">
    update CSR_SURGICAL
    <set>
      <if test="surgicalno != null">
        SURGICALNO = #{surgicalno},
      </if>
      <if test="surgicalname != null">
        SURGICALNAME = #{surgicalname},
      </if>
      <if test="surgicalnamech != null">
        SURGICALNAMECH = #{surgicalnamech},
      </if>
      <if test="isdelete != null">
        ISDELETE = #{isdelete},
      </if>
      <if test="datauserno != null">
        DATAUSERNO = #{datauserno},
      </if>
      <if test="datausername != null">
        DATAUSERNAME = #{datausername},
      </if>
      <if test="datadate != null">
        DATADATE = #{datadate},
      </if>
    </set>
    where ID = #{id}
  </update>
</mapper>