<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.htpe.mapper.nnew.CsrUdiMapper">
  <resultMap id="BaseResultMap" type="com.htpe.bean.CsrUdi">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="UDI" jdbcType="VARCHAR" property="udi" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="PRICE" jdbcType="INTEGER" property="price" />
    <result column="TYPE_ID" jdbcType="INTEGER" property="typeId" />
    <result column="PACKAGE_ID" jdbcType="INTEGER" property="packageId" />
    <result column="CREATE_ID" jdbcType="CHAR" property="createId" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATE_ID" jdbcType="VARCHAR" property="updateId" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, UDI, STATUS, PRICE, TYPE_ID, PACKAGE_ID, CREATE_ID, CREATE_TIME, UPDATE_ID, UPDATE_TIME
  </sql>

  
  <select id="listUDI" parameterType="Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from CSR_UDI
    where TYPE_ID = #{typeId}
  </select>
  
  
   <select id="getUDIById" parameterType="Integer" resultMap="BaseResultMap">
	    select 
	    <include refid="Base_Column_List" />
	    from CSR_UDI
	    where ID = #{id}
  </select>
  
    <select id="getUDIByName" parameterType="String" resultMap="BaseResultMap">
	    select 
	    <include refid="Base_Column_List" />
	    from CSR_UDI
	    where UDI = #{udi}
  </select>
  

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from CSR_UDI
    where ID = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insertUDI" parameterType="com.htpe.bean.CsrUdi">
    insert into CSR_UDI
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="udi != null">
        UDI,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="price != null">
        PRICE,
      </if>
      <if test="typeId != null">
        TYPE_ID,
      </if>
      <if test="packageId != null">
        PACKAGE_ID,
      </if>
      <if test="createId != null">
        CREATE_ID,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="updateId != null">
        UPDATE_ID,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="udi != null">
        #{udi,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=INTEGER},
      </if>
      <if test="typeId != null">
        #{typeId,jdbcType=INTEGER},
      </if>
      <if test="packageId != null">
        #{packageId,jdbcType=INTEGER},
      </if>
      <if test="createId != null">
        #{createId,jdbcType=CHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateId != null">
        #{updateId,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  
  <update id="updateUDI" parameterType="com.htpe.bean.CsrUdi">
    update CSR_UDI
    <set>
      <if test="udi != null">
        UDI = #{udi},
      </if>
      <if test="status != null">
        STATUS = #{status},
      </if>
      <if test="price != null">
        PRICE = #{price},
      </if>
      <if test="typeId != null">
        TYPE_ID = #{typeId},
      </if>
      <if test="packageId != null">
        PACKAGE_ID = #{packageId},
      </if>
      <if test="createId != null">
        CREATE_ID = #{createId},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime},
      </if>
      <if test="updateId != null">
        UPDATE_ID = #{updateId},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime},
      </if>
    </set>
    where ID = #{id}
  </update>

</mapper>